@import '../assets/styles/main';

.bg .container {
	background: white;
}

.app {
	width: $app-width;
}

.sidebar {
	background: $sidebar-bg;
	padding: 0;
	height:100%;
	min-height:100%;
}

.list {
	background: $list-bg;
}