@import '../assets/styles/main';

.app {
	width: $app-width;
	height: $app-height;
	background: $sidebar-bg;	
border-radius: 20px;
		
}

.sidebar {
	padding: 0;
	height:100%;
	min-height:100%;
}

.list {
	height: $app-height;
	background: $list-bg;
	overflow-y: scroll;
}