<div class="dots">
	<span class="dot dot-red"></span>
	<span class="dot dot-yellow"></span>
	<span class="dot dot-green"></span>
</div>
<ul class="list-group sidebar__group">
	<li class="list-group-item sidebar__group__item"
	routerLinkActive="active"
	routerLink="/all" >
		<span class="icon-github"></span>All 
		<span class="badge sidebar__group__item__badge">{{getIssuesNumber('all')}}</span>
	</li>
	<li class="list-group-item sidebar__group__item" 
	routerLinkActive="active"
	routerLink="/open" >
		<span class="icon-open"></span>Open 
		<span class="badge sidebar__group__item__badge">{{getIssuesNumber('open')}}</span>
	</li> 
	<li class="list-group-item sidebar__group__item" 
	routerLinkActive="active"
	routerLink="/closed" >
		<span class="icon-closed"></span>Closed 
		<span class="badge sidebar__group__item__badge">{{getIssuesNumber('closed')}}</span>
	</li> 
	<li class="list-group-item sidebar__group__item" 
	routerLinkActive="active"
	routerLink="/about" >
		About 
	</li> 
</ul>