@import '../../assets/styles/main';

.sidebar__group {
	// border: none;
		color: $text-color-sidebar;

		@media all and (max-width: $screen-sm-max) {
			margin: 0;
		}

		&__item {
			background: none;
			border: none;	
	    padding: 20px 15px;
    	cursor: pointer;

  		&:hover {
  			background: $text-bg-sidebar-hover;
  		}

    	&__badge {
    		padding: 1px 5px;
    		background: none;
  			color: $text-color-date;
  			font-size: $main-font-size;
				font-weight: $main-font-weight;

    	}	
		}
}