$black: black;

$sidebar-bg: rgba(16,16,34,0.8);
$list-bg: rgba(246,246,246,1);

$app-width: 650px;
$app-height: 500px;

$text-color-main: #080606;
$text-color-sidebar: #ffffff;
$text-color-date: #8a8995;

$text-bg-sidebar-hover: #292a48;


$main-font-family: 'Roboto', sans-serif;
$main-font-weight: 300 !default;
$main-font-size: 16px !default;
$main-font-line-height: 1em !default;

$date-font-size: 12px;
