@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import url(//fonts.googleapis.com/css?family=Roboto&subset=latin-ext);

$black: black;

$sidebar-bg: rgba(16,16,34,0.8);
$list-bg: rgba(246,246,246,1);

$app-width: 650px;
$app-height: 500px;

$text-color-main: #080606;
$text-color-sidebar: #ffffff;

$main-font-family: 'Roboto', sans-serif;

html, body {
	height: 100%;
	font-family: $main-font-family;
}

body {
	background-color: $black;
	min-height: 100%;	
	background: $black url('/assets/background.jpg') no-repeat center center;
	background-size: 100% 100%;
	padding: 20px 0;

 	display: flex;
  align-items: center;
  justify-content: center;

	@media all and (max-width: $screen-sm-max) {
		// padding: 100px 0;
		// background-color: red;
	}
}