@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import url(//fonts.googleapis.com/css?family=Roboto&subset=latin-ext);

@import "_variables";
@import "_icons";

html, body {
	height: 100%;
	font-size: $main-font-size;

	@media all and (max-width: $screen-sm-max) {
		height: auto;
	}
}

body {
	background-color: $black;
	min-height: 100%;	
	background: $black url('/assets/background.jpg') no-repeat center center;
	padding: 20px 0;
  // color: $text-color;
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  line-height: $main-font-line-height;

  position: relative;

 	display: flex;
  align-items: center;
  justify-content: center;

	@media all and (max-width: $screen-sm-max) {
		display: block;
    padding: 20px;
  	background-position: top;
	 	background-attachment: fixed;
	}

}


